.taskListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.taskCard {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(25% - 10px);
}

.taskCard h3 {
  margin-top: 0;
}

.editBtn,
.deleteBtn {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.editBtn {
  background-color: #4caf50;
  color: white;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
}

.addBtn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue */
  color: white;
}
